.new_story {
  padding: 0 10px;
  min-height: calc(100vh - 110px);
  margin: auto;
  margin-top: 50px;
  max-width: 650px;
}

.header input {
  width: 100%;
  padding: 5px 0;
  margin-top: 20px;
  border: none;
  outline: none;
  font-size: 25px;
}

.header input::placeholder {
  font-size: 25px;
}

.saveBtn_container {
  display: flex;
  justify-content: flex-end;
}

.saveBtn {
  padding: 5px 10px;
  color: var(--primary-white);
  background: #008000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.editor {
  max-width: 650px;
  margin: 100px auto;
  padding-top: 70px;
}

.image img {
  width: 600px;
  max-height: 500px;
  object-fit: cover;
}

/*                               */

.new-story__editor--article-images img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgba(0, 102, 245, 0.14);
}

.new-story__publish {
  background: var(--primary-white);
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 110px;
  overflow: auto;
}

.bg-mode--dark .new-story__publish {
  background: var(--theme-dark);
}

.new-story__publish--progress-bar {
  height: 3px;
  background: #008000;
  position: absolute;
  top: 0;
  transition: 1s ease-in-out all;
}

.new-story__publish--settings {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding: 50px 0;
}

.new-story__publish--settings__close-btn {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 20px;
  cursor: pointer;
}

.new-story__story--preview,
.new-story__publish--publish {
  max-width: 50%;
}

@media screen and (max-width: 955px) {
  .new-story__publish--settings {
    flex-direction: column;
  }

  .new-story__story--preview,
  .new-story__publish--publish {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .new-story__publish--settings {
    max-width: 100%;
  }
}

.new-story__image--preview {
  width: 90%;
  height: 200px;
  background: #f1f1f1;
  margin: 15px 0;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 11px;
  position: relative;
}

.new-story__image--preview form {
  position: absolute;
  top: 10px;
  right: 10px;
}

.new-story__image--preview-add-image {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.new-story__image--preview img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-story__story--title input,
.new-story__story--title textarea {
  display: block;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 5px;
  width: 90%;
  outline: none;
  font-size: 16px;
  margin-bottom: 5px;
}

.new-story__story--title textarea {
  padding: 0 5px;
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.new-story__story--title textarea::-webkit-scrollbar {
  display: none;
}

.bg-mode--dark .new-story__story--title input,
.bg-mode--dark .new-story__story--title textarea {
  background: none;
  color: var(--theme-white);
}

.new-story__story--title input::placeholder {
  font-size: 16px;
}

.new-story__publish--publish-info h5 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}

.new-story__publish--publish-info p {
  margin-bottom: 10px;
}

.new-story__publish--publish-info__categories {
  display: flex;
  overflow: auto;
}

.new-story__publish--publish-info__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.new-story__publish--publish-info__category img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.new-story__publish--publish-info__tags div {
  background: var(--theme-white);
  font-size: 14px;
  border-radius: 3px;
  color: var(--theme-dark);
  margin: 0 5px 5px 0;
  padding: 5px;
  display: flex;
  display: inline-block;
  align-items: center;
  width: fit-content;
}

.new-story__publish--publish-info__tags div svg {
  font-size: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.new-story__publish--publish-info__tags {
  display: inline-block;
}

.new-story__publish--publish-info__tags-container {
  border: 1px solid var(--theme-white);
  width: 90%;
  padding: 10px;
  min-height: 50px;
}

.new-story__publish--publish-info__tag-input {
  border: none;
  outline: none;
  display: inline-block;
  height: 100%;
  background: none;
}

.bg-mode--dark .new-story__publish--publish-info__tag-input {
  color: var(--theme-white);
}

.new-story__publish--publish-info__category span {
  font-size: 12px;
  display: none;
}

.new-story__publish--publish-btn {
  padding: 10px 15px;
  color: var(--primary-white);
  background: var(--primary-dark);
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
