.for-you-main_skeleton--flex {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.for-you-main_skeleton .skeleton-image-article-large {
  width: 100%;
}

.for-you-main_skeleton--flex > * {
  margin-right: 10px;
}

.for-you-main_skeleton .skeleton-title-small {
  width: 200px;
}
