.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-modal-background);
  z-index: 3;
}

.auth-modal__modal {
  position: relative;
  max-width: 680px;
  height: calc(700px - 5vh);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  background-color: var(--primary-white);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
}

@media screen and (max-width: 700px) {
  .auth-modal__modal {
    max-width: 100vw;
    height: 100vh;
  }
}

.auth-modal__modal__close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
}

.auth-template {
  position: relative;
  padding: 0 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-template__header {
  margin-bottom: 50px;
}

.auth-template__header h3 {
  font-weight: 300;
  font-size: 30px;
}

.auth-template__auth-options-container {
  margin-bottom: 15px;
}

.auth-template__auth-option {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-dark);
  padding: 7px 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.auth-template__auth-option--icon {
  margin-right: 10px;
}

.auth-template__auth-option--text {
  font-size: 13px;
}

.auth-modal__auth-redirect--text__link {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 600;
}

.auth-modal__accept-terms {
  width: 315px;
  margin-top: 30px;
}

.auth-modal__accept-terms--text {
  font-size: 13px;
  text-align: center;
  color: var(--primary-faded);
}

.auth-modal__accept-terms--text a {
  text-decoration: underline;
}

.auth-template__mail-auth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-white);
}

.mail-auth-template__header {
  margin-bottom: 30px;
}

.mail-auth-template__header h3 {
  font-size: 25px;
  font-weight: 300;
}

.mail-auth-template__subheader {
  width: 315px;
  text-align: center;
  margin-bottom: 50px;
}

.mail-auth-form {
  width: 315px;
  margin-bottom: 20px;
}

.mail-auth-form__input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail-auth-form__input-container input {
  width: 100%;
  border: none;
  outline: none;
  padding: 2px 0;
  font-size: 16px;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--primary-dark);
}

.mail-auth-form__input-container button {
  padding: 10px 15px;
  color: var(--primary-white);
  background: var(--primary-dark);
  border: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
}

.mail-auth-form__input-container--change-email {
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.mail-auth-form__input-container p {
  margin-left: 10px;
}

.mail-auth-form__error-message {
  margin-top: 20px;
  color: var(--primary-warning);
  font-weight: 300;
  text-align: center;
}

.mail-auth-template__select-auth-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mail-auth-template__select-auth-option span {
  margin-left: 10px;
}
