.user_setup {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 680px;
  min-width: 340px;
  min-height: 50px;
  background: rgb(201, 74, 74);
  z-index: 10;
  border-radius: 0px 0px 4px 4px;
  padding: 10px;
  box-shadow: rgba(255, 255, 255, 0.65) 0px 0px 2px;

  .setup_modal {
    position: relative;
    color: rgba(255, 255, 255, 0.6);

    p {
      font-size: 13px;
    }

    .setup_cta {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
